<p-card header="Saldos" [style]="{ width: '100rem', margin: 'auto', marginTop: '4rem'}">
  <p-table
    class="text-center"
    [value]="balances"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Registros del {first} hasta el {last} de {totalRecords} totales"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="header">
        <tr>
            <th [style]="{ backgroundColor: 'lightGray' }">Vacaciones</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Actual</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Programado</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Disponible</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Periodo</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-balances>
        <tr>
            <td class="text-center">{{ balances.politicaVacaciones }}</td>
            <td class="text-center">{{ balances.actual }} días</td>
            <td class="text-center">{{ balances.programado }} días</td>
            <td class="text-center">{{ balances.disponibleVisual }} días</td>
            <td class="text-center">{{ balances.periodo }}</td>
        </tr>
    </ng-template>
  </p-table>
</p-card>
