<button class="btn btn-primary p-2" (click)="showDialog()">Solicitar Vacaciones</button>
<button class="btn btn-primary p-2 ms-2" (click)="createReport()">Generar Reporte</button>

<p-dialog header="Solicitud de vacaciones" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw', height: '80vh' }" [draggable]="false" [resizable]="false">
  <div class="d-flex flex-column h-100 justify-content-between">
    <div class="row">
      <form [formGroup]="vacationRquestForm" class="card p-4">
        <div class="flex justify-content-center mb-4">
          <h4 class="fw-semibold">Licencia: {{ politicaUsuario }}</h4>
        </div>
        <div class=" mb-4">
          <p-calendar  [style]="{'width': '100%'}" [minDate]="minDate" [disabledDates]="disabledDates" placeholder="Selecionar fechas" formControlName="fechas" [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true"></p-calendar>
          <div class="mt-1" *ngIf="vacationRquestForm.controls.fechas.invalid && vacationRquestForm.controls.fechas.touched">
            <span class="text-danger px-3">Las fechas son requeridas.</span>
          </div>
        </div>
        <div class="mb-4">
          <input [style]="{'width': '100%'}" type="text" pInputText formControlName="razon" placeholder="Razon"/>
       </div>
      </form>
    </div>
    <div class="row">
      <button [disabled]="!vacationRquestForm.valid" class="btn btn-primary" (click)="vacationRequest()">Enviar solicitud</button>
    </div>
  </div>
  <!-- <div class="row w-100 justify-content-end">
    <button class="btn btn-primary">Enviar solicitud</button>
  </div> -->
</p-dialog>
