<p-card header="Historia" [style]="{ width: '90%', margin: 'auto', marginTop: '4rem', paddingLeft: '3rem', paddingRight: '3rem'}">
  <div class="row">
    <form [formGroup]="historyForm" class="mb-5 px-3">
      <div class="row mb-3">
        <div class="col-6">
          <p-dropdown [style]="{ width: '100%' }" formControlName="policies" [optionLabel]="'nombrePolitica'" [optionValue]="'id'"  [options]="policies" placeholder="Seleccionar politica"></p-dropdown>
        </div>
        <!-- [optionLabel]="policies.nombrePolitica" [optionValue]="policies.id" -->
        <div class="col-6">
          <p-dropdown
            [style]="{ width: '100%' }"
            formControlName="year"
            [options]="years"
            placeholder="Seleccionar año"
          >
          </p-dropdown>
          <div *ngIf="historyForm.controls.year.invalid">
            <span class="text-danger px-3">El año es requerido.</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-evenly ">
        <button class="btn btn-outline-primary w-25" (click)="clean()">Limpiar</button>
        <button class="btn btn-primary w-25" [disabled]="!historyForm.valid" (click)="filtrar()">Filtrar</button>
      </div>
    </form>
  </div>
  <p-table
    class="text-center"
    [value]="(histories$ | async)"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Registros del {first} hasta el {last} de {totalRecords} totales"
    [rowsPerPageOptions]="[5, 10, 20]"
    responsiveLayout="scroll"
>
    <ng-template pTemplate="header">
        <tr>
            <th [style]="{ backgroundColor: 'lightGray' }">Fecha</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Política</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Descripción</th>
            <th [style]="{ backgroundColor: 'lightGray' }">Días</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-history>
        <tr>
            <td class="text-center">{{ history.fecha ? (history.fecha | periodFormat) : "Sin datos" }}</td>
            <td class="text-center">{{ history.nombrePolitica }}</td>
            <td class="text-center">{{ history.descripcion }}</td>
            <td class="text-center">{{ history.dias }}</td>
        </tr>
    </ng-template>
  </p-table>
</p-card>
